html {
	background: url("../imgs/mountains.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body, input {
	font-family: 'Open Sans', sans-serif;
	color: #555;
}

div#container {
	position: relative;
	width: 960px;
	padding-top: 1em;
}

h1 {
	width: 455px;
	font-size: 2.0em;
	letter-spacing: 10px;
	text-align: center;
	margin: 2px auto .2em auto;
	padding: 0;
	x-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	x-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	xbox-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	xborder: 5px solid rgba(255, 255, 255, 0.2);
	text-shadow: 0px 1px 1px rgba(255, 255, 255, .8);
}

table#fiveormore, div#highScoresWrap, div#gameOverPopup, div#enterHighScore, div.popup,
div.closeWindowX span {
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
}

h1, table#fiveormore, div#messages span, div#gameOverPopup, div#enterHighScore, div#playAgain,
div#highScoresWrap, div.closeWindowX span, div.popup, #loading {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

ul#preview li, span#submitHighScore, table#fiveormore td, ul#controlBar li,
div#highScoresWrap p.toggleHighScores em, div#highScoresWrap h3 span   {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

table#fiveormore th {
	font-size: 1.4em;
	text-align: left;
	color: #F9F9F9;
	text-shadow: 0 0px 10px #AA0;
}

table#fiveormore th:nth-child(2) {
	text-align: right;
}

div#nextText {
	float: left;
	padding-right: 10px;
}

ul#preview  {
	display: inline;
}

ul#preview li {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin-left: 5px;
	border: 2px ridge #AAA;
}

ul#preview li img {
	width: 14px;
	height: 14px;
}
table#fiveormore {
	margin: 0px auto;
	margin-bottom: 15px;
	padding: 10px;
	padding-top: 0px;
	border-spacing: 10px;
	border: 10px ridge #993;
	background-color: #220;
	clear: left;
	border-collapse: separate;
}

/* different size boards */

table#fiveormore.small td {
	width: 26px;
	height: 26px;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

table#fiveormore.medium td {
	width: 33px;
	height: 33px;
	border-width: 2px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

table#fiveormore.large td {
	width: 55px;
	height: 55px;
	border-width: 3px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

table#fiveormore td {
	width: 50px;
	height: 50px;
	border: 2px ridge #AAA;
	border-width: 3px;
	background-color: #CCC;
}

table#fiveormore td:hover {
	border-color: #FFF;
	border-style: ridge;
}

table#fiveormore td, table#fiveormore td.empty:hover {
	-moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, .2);
	-webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, .2);
	box-shadow: 1px 1px 1px rgba(255,255,255,.2);
}

table#fiveormore td:hover, table#fiveormore td.selected {
	-moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, .8);
	-webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, .8);
	box-shadow: 0px 0px 10px rgba(255,255,255,.8);
}

table#fiveormore td.green, #preview li.green {
background: rgb(0,204,0); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(0,204,0,1) 0%, rgba(51,204,51,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,204,0,1)), color-stop(100%,rgba(51,204,51,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(0,204,0,1) 0%,rgba(51,204,51,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(0,204,0,1) 0%,rgba(51,204,51,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(0,204,0,1) 0%,rgba(51,204,51,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(0,204,0,1) 0%,rgba(51,204,51,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cc00', endColorstr='#33cc33',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

table#fiveormore td.red, #preview li.red {
background: rgb(255,34,34); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,34,34,1) 0%, rgba(255,45,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,34,34,1)), color-stop(100%,rgba(255,45,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(255,34,34,1) 0%,rgba(255,45,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(255,34,34,1) 0%,rgba(255,45,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(255,34,34,1) 0%,rgba(255,45,45,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(255,34,34,1) 0%,rgba(255,45,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2222', endColorstr='#ff2d2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

table#fiveormore td.blue, #preview li.blue {
background: rgb(51,153,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(51,153,255,1) 0%, rgba(76,165,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(51,153,255,1)), color-stop(100%,rgba(76,165,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(51,153,255,1) 0%,rgba(76,165,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(51,153,255,1) 0%,rgba(76,165,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(51,153,255,1) 0%,rgba(76,165,255,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(51,153,255,1) 0%,rgba(76,165,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399ff', endColorstr='#4ca5ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

table#fiveormore td.orange, #preview li.orange {
background: rgb(206,206,206); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(206,206,206,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(206,206,206,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(206,206,206,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(206,206,206,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(206,206,206,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

table#fiveormore td.purple, #preview li.purple {
background: rgb(170,0,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(170,0,255,1) 0%, rgba(187,53,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(170,0,255,1)), color-stop(100%,rgba(187,53,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(170,0,255,1) 0%,rgba(187,53,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(170,0,255,1) 0%,rgba(187,53,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(170,0,255,1) 0%,rgba(187,53,255,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(170,0,255,1) 0%,rgba(187,53,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa00ff', endColorstr='#bb35ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

table#fiveormore td.yellow, #preview li.yellow {
background: rgb(255,255,0); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,0,1) 0%, rgba(255,255,51,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,0,1)), color-stop(100%,rgba(255,255,51,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(255,255,0,1) 0%,rgba(255,255,51,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(255,255,0,1) 0%,rgba(255,255,51,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(255,255,0,1) 0%,rgba(255,255,51,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(255,255,0,1) 0%,rgba(255,255,51,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffff33',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

table#fiveormore td.empty, table#fiveormore td.empty:hover {
	background-color: #333;
	border-color: #333;
	background-color: #444;
	border-color: #333;
	border-style: solid;
}

.selected, .selected:hover {
	border-style: solid;
	border-color: #FFF;
}

div#messages {
	position: absolute;
	text-align: center;
}

div#messages span {
	padding: .2em 1em;
	background-color: #DDD;
	border: 2px solid #888;
	color: #800;
	font-size: 1em;
}

div#buttonsWrap {
	margin: 0 auto;
	xbackground-color: #999;
	width: 500px;
}

ul#controlBar {
	text-align: center;
	xbackground-color: #090;
}

ul#controlBar li {
	margin: 0 1em;
	padding: 0 .5em;
	border: 1px solid #666;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	background-color: #AAA;
	color: #777;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

ul#controlBar li:hover {
	background-color: #CCC;
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

#sharePanel {
	margin: 0 auto;
	width: 300px;
	xtext-align: center;
	margin-top: 1.5em;
	xbackground-color: #009;
}

p.pageText {
	font-size: 1em;
	color: #111;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.6);
	margin: 5px 20px 0;
	padding: 5px 10px;
	border: 1px solid #999;
}

div#gameOverPopup {
	position: absolute;
	top: 0;
	left: 0;
	border: 5px ridge #CC6;
	color: #111;
	text-align: center;
	width: 300px;
	padding: 10px 50px 0;
}

div#gameOverPopup {
	background-color: #3BA4FF;
	background-repeat: no-repeat;

	background-image: linear-gradient(bottom, #3BA4FF 10%, #73A0D1 56%, #AFDBF0 100%);
	background-image: -o-linear-gradient(bottom, #3BA4FF 10%, #73A0D1 56%, #AFDBF0 100%);
	background-image: -moz-linear-gradient(bottom, #3BA4FF 10%, #73A0D1 56%, #AFDBF0 100%);
	background-image: -webkit-linear-gradient(bottom, #3BA4FF 10%, #73A0D1 56%, #AFDBF0 100%);
	background-image: -ms-linear-gradient(bottom, #3BA4FF 10%, #73A0D1 56%, #AFDBF0 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, #3BA4FF),
		color-stop(0.56, #73A0D1),
		color-stop(1, #AFDBF0)
	);

}

div#gameOverPopup h2 {
	padding: 0;
	margin: .5em 0;
}

p#finalScore {
	font-size: 1.5em;
	margin-bottom: 1em;
	padding-bottom: 0;
}

div#gameOverPopup h2, p#finalScore {
	text-shadow: 0 1px 1px #FFF;
}

div#enterHighScore {
	margin-bottom: 1em;
	padding: 20px;
	text-align: left;
	border: 1px inset #AAA;
}

div#enterHighScore div#inputBlock {
	display: block;
}

div#enterHighScore h3 {
	text-align: center;
}

div#enterHighScore span {
	font-size: 1.5em;
}

div#enterHighScore #name {
	display: block;
}

div#enterHighScore input {
	width: 200px;
	height: 30px;
	font-size: 1.5em;
}

span#submitHighScore {
	background-color: #AAA;
	padding: 3px;
	border: 1px solid #555;
}

span#submitHighScore:hover {
	background-color: #CCC;
}

div#highScoresWrap {
	background-color: #111;
	color: #DDD;
	text-shadow: 0 1px 1px #300;
	border: 5px solid #999;
	margin-bottom: 1em;
}

div#highScoresWrap h3 {
	padding: .5em 0;
	margin-bottom: .5em;
	font-variant: small-caps;
	letter-spacing: 3px;
}

div#highScoresWrap h3 span {
	background-color: #FFF;
	color: #000;
	padding: 0 .25em;
}

div#highScoresWrap p.toggleHighScores em {
	font-style: normal;
	padding: 0 .5em;
	margin: 0 1em;
	background-color: #999;
	color: #111;
}

div#highScoresWrap p.toggleHighScores em:hover {
	background-color: #CCC;
}

div#playAgain {
	border: 3px inset #099;
	background-color: #666;
	border: 3px inset #999;
	width: 50%;
	font-size: 1.25em;
	margin: 1em auto;
	padding: .5em 0;
	font-weight: bold;
	color: #DDD;
	text-shadow: 2px 2px 5px #000;
}

div#playAgain:hover {
	border: 3px ridge #999;
	color: #FFF;
	background-color: #AAA;
}

dl {
	width:100%;
	overflow:hidden;
}

dt {
	clear: left;
	float:left;
	width: 70%;
	text-align: left;
	padding-left: 5%;
}

dd {
	float:left;
	width:20%;
	text-align: right;
	padding-right: 5%;
}

dt, dd {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
	margin-bottom: .6em;
	font-size: 1.2em;
	white-space: nowrap;
	font-weight: bold;
}

div.popup {
	background-color: #DDD;
	color: #555;
	position: relative;
	margin: 0 auto;
	width: 480px;
	padding: 1em 2em;
	border: 3px solid #666;
	font-size: 1.1em;
}

div.popup ul {
	list-style: none;
	padding-bottom: 1.5em;
}

div.popup ul li {
	padding: .2em 0;
}

div.popup p:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

div.popup p.tip {
	padding-top: 1em;
	font-style: oblique;
}

div.popup strong {
	font-weight: bold;
}

div.closeWindowX {
	position: absolute;
	right: 0;
	top: 0;
	margin: -12px -16px;
}

div.closeWindowX span, span.closeWindowText {
	font-size: 1em;
	padding: 3px 8px;
	background-color: #666;
	color: #FFF;
	border: 2px solid #999;
}

div.closeWindowX span:hover, span.closeWindowText:hover {
	background-color: #AAA;
	color: #FFF;
}

span.closeWindowText {
	font-size: .8em;
	padding: .1em .5em;
}

p.closeText {
	text-align: center;
}

div#gameOverPopup, div.popup {
	display:none;
}

#loading {
	display:none;
	position:fixed;
	background-color: #CCC;
	background-color: rgba(0, 0, 0, 0.7);
	color: #FFF;
	padding: 0;
}

#loading p {
	text-align: center;
	padding: 0;
	margin: 1em;
}

#pointsPopup {
	position: absolute;
}

#pointsPopup p {
	padding: 0;
	margin: 0;
	font-size: 4em;
	font-weight: bold;
    color: #FFFF33;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

td, ul#preview li {
	text-align: center;
}

td img {
	vertical-align: top;
}

ul#preview li img {
	vertical-align: baseline;
}

.menuWrap {
	margin: 0px auto;
	width: 925px;
	width: 425px;
}

/*
// There is no required CSS for this plugin to work properly
// but here is what is being used to style this demo
*/
.horizontal-nav {
    xbackground: #efefef;
    border-radius: 6px;
}
.horizontal-nav ul {
    xbackground: #128F9A;
    xbackground: #1E7DDB;
    background: #227;
    background: rgba(0, 0, 0, 0.2);
    float: left;
    text-align: center;
    border-radius: 6px;
    xborder: 1px solid #0e7079;
    xborder: 1px solid #0e7079;
	padding-bottom: 0;
}
.horizontal-nav ul li {
    float: left;
    xborder-left: 1px solid #0e7079;
}
.horizontal-nav ul li:first-child {
    border-left: 0 none;
}
.horizontal-nav ul li a {
    display: block;
    padding: 5px 20px;
    color: #fff;
	text-decoration: none;
    border-top: 1px solid rgba(255,255,255, 0.25);
    border-left: 1px solid rgba(255,255,255, 0.25);
}
.horizontal-nav ul li:first-child a {
    border-left: 0 none;
}
.horizontal-nav ul li a:hover {
    xbackground: #12808a;
    background: #227;
    background: rgba(0, 0, 0, 0.3);
}
.horizontal-nav ul li:first-child a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.horizontal-nav ul li:last-child a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
