# put this is /fiveormore/ directory
DirectoryIndex fiveormore.php fiveormore.html

#<IfModule mod_rewrite.c>
#   Options +FollowSymLinks
#   Options +Indexes
#   RewriteEngine On
#   RewriteBase /gridgame/
#   RewriteRule ^index.html$ local.php [R=301,L]
#</IfModule>

